snippet default "jekyll default set"
---
title   : ${1}
summary : ${2}
date    : `date +%Y-%m-%d` `date +%H:%M:%S` +0100
updated : `date +%Y-%m-%d` `date +%H:%M:%S` +0100
tags    : ${3}
parent  : "[" . `expand("#")` . "]"
---
endsnippet

snippet --- "division line"
-----------------------------------------------------------------------
endsnippet

snippet t "header 4"
####
endsnippet

snippet img "Image with Link"
![${1}](${2})
<small>--from: ${3}</small>
endsnippet
