snippet default "jekyll default set"
---
title   : ${1}
summary : ${2}
date    : `date +%Y-%m-%d` `date +%H:%M:%S` +0100
updated : `date +%Y-%m-%d` `date +%H:%M:%S` +0100
tags    : ${3}
parent  : "[" . `expand("#")` . "]"
---
endsnippet

snippet --- "division line"
-----------------------------------------------------------------------
endsnippet

snippet t "header 4"
####
endsnippet

snippet img "Image with Link"
![${1}](${2})
<small>--from: ${3}</small>
endsnippet

snippet :smile "emoji smile"
😀
endsnippet

snippet :memo "emoji memo"
📝
endsnippet

snippet :check "emoji check mark"
✅
endsnippet

snippet :rocket "emoji rocket"
🚀
endsnippet

snippet :spark "emoji sparkles"
✨
endsnippet

snippet :fire "emoji fire"
🔥
endsnippet

snippet :warning "emoji warning"
⚠️
endsnippet
