snippet default "jekyll default set"
---
layout  : post
title   : ${1}
summary : ${2}
date    : `date +%Y-%m-%d` `date +%H:%M:%S` +0100
updated : `date +%Y-%m-%d` `date +%H:%M:%S` +0100
tags    : ${3}
---
endsnippet

snippet --- "division line"
-----------------------------------------------------------------------
endsnippet
